# Основные зависимости для Kivy приложения
kivy==2.1.0
kivymd==1.1.1

# Дополнительные зависимости для работы с файлами и кодировкой
chardet==5.1.0

# Для работы с изображениями (если понадобится)
Pillow==9.5.0

# Для работы с аудио (если понадобится)
pygame==2.5.0
